@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
}

.crumbsWrap {
    height: 74px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.crumbsWrap .txt {
    font-size: 14px;
}
.crumbsWrap .in {
    font-size: 14px;
}

.crumbsWrap .icon-svg {
    position: relative;
    top: 1px;
    width: 16px;
    height: 16px;
    fill: #333;
    margin: 0 16px;
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
    .crumbsWrap {
        margin: 0 10px;
        height: 64px;
        display: none;
    }
}
.pagingModule {
    margin: 40px 0px 140px;
    display: flex;
    justify-content: center;
}
.paginglist {
    display: flex;
}
.paginglist .item {
    margin: 0px 5px;
    width: 38px;
    height: 38px;
    border: 1px solid rgb(217, 217, 217);
    font-size: 12px;
    color: rgb(102, 102, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease 0s;
}
.paginglist .item.on {
    border-color: #228a3b;
    color: rgb(255, 255, 255);
    background: #228a3b;
}
.paginglist .item:hover {
    border-color: #3f804e;
    color: rgb(255, 255, 255);
    background: #3f804e;
}
.paginglist .item.txt {
    width: 58px;
}
.paginglist .item .icon-svg {
    width: 16px;
    height: 16px;
    fill: #333;
}
.paginglist .item:hover .icon-svg {
    fill: #fff;
}
.paginglist .item + .item .icon-svg {
    transform: rotate(0deg);
}
.paginglist .item + .item ~ .item .icon-svg {
    transform: rotate(180deg);
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
    .pagingModule {
        margin: 20px 0px 40px;
    }
    .paginglist .item {
        margin: 0px 3px;
        width: 20px;
        height: 20px;
    }
    .paginglist .item.txt {
        width: 30px;
    }
    .paginglist .item .icon-svg {
        width: 14px;
        height: 14px;
    }
}

.newsListBox {
    overflow: hidden;
    margin: 0 10px;
}
.newsListBox .item {
    padding: 40px 0;
    border-bottom: 1px #e6e6e6 solid;
    display: flex;
    transition: 0.3s;
}
.newsListBox .item:hover {
    border-color: #228a3b;
}
.newsListBox .item .img {
    width: 480px;
    height: 270px;
    overflow: hidden;
}
.newsListBox .item .img img {
    transition: 0.5s;
}
.newsListBox .item:hover .img img {
    transform: scale(1.12);
}
.newsListBox .item .info {
    margin-left: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newsListBox .item .info .tit {
    font-size: 24px;
    line-height: 1.4;
    font-weight: normal;
}
.newsListBox .item .info .txt {
    font-size: 16px;
    height: 96px;
    line-height: 2;
    color: #808080;
    margin: 20px 0;
    overflow: hidden;
    text-align: justify;
}
.timeMod {
    display: flex;
    align-items: center;
}
.timeMod .icon-svg {
    width: 20px;
    height: 20px;
    fill: #228a3b;
}
.timeMod span {
    margin-left: 8px;
    font-size: 14px;
    color: #808080;
}

@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
    .newsListBox .item {
        padding: 35px 0;
    }
}
@media (max-width: 993px) {
    .newsListBox .item {
        padding: 30px 0;
    }
    .newsListBox .item .img {
        width: 342px;
        height: 192px;
    }
    .newsListBox .item .info {
        margin-left: 25px;
    }
    .newsListBox .item .info .tit {
        font-size: 22px;
        line-height: 1.4;
    }
    .newsListBox .item .info .txt {
        font-size: 14px;
        height: 90px;
        line-height: 1.6;
        margin: 7px 0;
    }
    .timeMod .icon-svg {
        width: 20px;
        height: 20px;
    }
    .timeMod span {
        margin-left: 8px;
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .newsListBox .item {
        padding: 25px 0;
        flex-direction: column;
    }
    .newsListBox .item .img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .newsListBox .item .info {
        margin-left: 0;
    }
    .newsListBox .item .info .tit {
        font-size: 18px;
        line-height: 1.4;
    }
    .newsListBox .item .info .txt {
        font-size: 14px;
        height: auto;
        line-height: 1.6;
        margin: 7px 0;
    }
    .timeMod .icon-svg {
        width: 20px;
        height: 20px;
    }
    .timeMod span {
        margin-left: 8px;
        font-size: 14px;
    }
}
/* 详情 s */
.newsDetailsWrap {
    display: flex;
    padding: 100px 0;
}
.newsDetailsWrap .detailsLeft {
    flex: 1;
}
.newsDetailsWrap .detailsRight {
    margin-left: 60px;
}
.newsDetailsWrap .detailsRight,
.newsDetailsHotBox {
    width: 480px;
}

.newsDetailsBox {
}
.newsDetailsBox .tit {
    margin-bottom: 26px;
    font-size: 40px;
    font-weight: normal;
}

.newsDetailsCon {
    border-top: 1px #e6e6e6 solid;
    margin-top: 30px;
    padding-top: 30px;
}
.newsDetailsCon p {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 20px;
    text-align: justify;
}
.newsDetailsCon img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.newsDetailsCon span {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 1799px) {
    .newsDetailsWrap {
        padding: 70px 0;
    }
    .newsDetailsWrap .detailsRight {
        margin-left: 50px;
    }
    .newsDetailsWrap .detailsRight,
    .newsDetailsHotBox {
        width: 350px;
    }
    .newsDetailsBox {
    }
    .newsDetailsBox .tit {
        margin-bottom: 24px;
        font-size: 38px;
    }
    .newsDetailsCon {
        margin-top: 28px;
        padding-top: 28px;
    }
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
    .newsDetailsWrap {
        padding: 50px 0;
    }
    .newsDetailsWrap .detailsRight {
        margin-left: 30px;
    }
    .newsDetailsWrap .detailsRight,
    .newsDetailsHotBox {
        width: 320px;
    }
    .newsDetailsBox {
    }
    .newsDetailsBox .tit {
        margin-bottom: 22px;
        font-size: 36px;
    }
    .newsDetailsCon {
        margin-top: 26px;
        padding-top: 26px;
    }
    .newsDetailsCon p {
        font-size: 16px;
        line-height: 2;
        margin-bottom: 18px;
    }
    .newsDetailsCon img {
        margin-bottom: 18px;
    }
    .newsDetailsCon span {
        margin-bottom: 18px;
        font-size: 18px;
    }
}
@media (max-width: 993px) {
    .newsDetailsWrap {
        padding: 40px 0;
        flex-direction: column;
    }
    .newsDetailsWrap .detailsRight {
        margin-left: 0;
    }
    .newsDetailsWrap .detailsRight,
    .newsDetailsHotBox {
        width: 100%;
    }
    .newsDetailsBox {
    }
    .newsDetailsBox .tit {
        margin-bottom: 20px;
        font-size: 34px;
    }
    .newsDetailsCon {
        margin-top: 24px;
        padding-top: 24px;
    }
    .newsDetailsCon p {
        font-size: 14px;
        line-height: 2;
        margin-bottom: 16px;
    }
    .newsDetailsCon img {
        margin-bottom: 16px;
    }
    .newsDetailsCon span {
        margin-bottom: 16px;
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .newsDetailsWrap {
        padding: 30px 0;
        margin: 0 10px;
    }
    .newsDetailsBox {
    }
    .newsDetailsBox .tit {
        margin-bottom: 15px;
        font-size: 22px;
    }
    .newsDetailsCon {
        margin-top: 17px;
        padding-top: 17px;
    }
    .newsDetailsCon p {
        font-size: 14px;
        line-height: 2;
        margin-bottom: 16px;
    }
    .newsDetailsCon img {
        margin-bottom: 16px;
    }
    .newsDetailsCon span {
        margin-bottom: 14px;
        font-size: 14px;
    }
}

.detailsGuideMod {
    margin-top: 100px;
}
.detailsGuideMod .info {
    display: flex;
    justify-content: space-between;
}
.detailsGuideMod .info .btn {
    width: 198px;
    height: 60px;
    font-size: 18px;
    color: rgb(128, 128, 128);
    border: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailsGuideMod .info .returns {
    position: relative;
    top: -70px;
    padding: 0px 30px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.detailsGuideMod .info .returns .icon {
    margin-bottom: 6px;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(231, 231, 231);
    overflow: hidden;
}
.detailsGuideMod .info .returns .icon-svg {
    width: 30px;
    height: 30px;
    fill: rgb(128, 128, 128);
}
.detailsGuideMod .info .returns span {
    color: rgb(128, 128, 128);
    font-size: 14px;
}
.detailsGuideMod .line {
    margin-bottom: 40px;
    width: 100%;
    height: 1px;
    background: rgb(230, 230, 230);
}

@media (max-width: 1799px) {
    .detailsGuideMod {
        margin-top: 85px;
    }
    .detailsGuideMod .info {
    }
    .detailsGuideMod .info .btn {
        width: 160px;
        height: 50px;
        font-size: 16px;
    }
    .detailsGuideMod .info .returns {
        top: -70px;
        padding: 0px 20px;
    }
    .detailsGuideMod .info .returns .icon {
        margin-bottom: 6px;
        width: 50px;
        height: 50px;
    }
    .detailsGuideMod .info .returns .icon-svg {
        width: 30px;
        height: 30px;
    }
    .detailsGuideMod .info .returns span {
        font-size: 14px;
    }
    .detailsGuideMod .line {
        margin-bottom: 40px;
    }
}
@media (max-width: 1379px) {
    .detailsGuideMod {
        margin-top: 70px;
    }
    .detailsGuideMod .info {
    }
    .detailsGuideMod .info .btn {
        width: 150px;
        height: 45px;
        font-size: 16px;
    }
    .detailsGuideMod .info .returns {
        top: -70px;
        padding: 0px 20px;
    }
    .detailsGuideMod .info .returns .icon {
        margin-bottom: 6px;
        width: 50px;
        height: 50px;
    }
    .detailsGuideMod .info .returns .icon-svg {
        width: 30px;
        height: 30px;
    }
    .detailsGuideMod .info .returns span {
        font-size: 14px;
    }
    .detailsGuideMod .line {
        margin-bottom: 40px;
    }
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
    .detailsGuideMod {
        margin-top: 60px;
    }
    .detailsGuideMod .info {
    }
    .detailsGuideMod .info .btn {
        width: 150px;
        height: 45px;
        font-size: 16px;
    }
    .detailsGuideMod .info .returns {
        top: -70px;
        padding: 0px 20px;
    }
    .detailsGuideMod .info .returns .icon {
        margin-bottom: 6px;
        width: 50px;
        height: 50px;
    }
    .detailsGuideMod .info .returns .icon-svg {
        width: 30px;
        height: 30px;
    }
    .detailsGuideMod .info .returns span {
        font-size: 14px;
    }
    .detailsGuideMod .line {
        margin-bottom: 40px;
    }
}
@media (max-width: 993px) {
    .detailsGuideMod {
        margin-top: 50px;
    }
    .detailsGuideMod .info {
    }
    .detailsGuideMod .info .btn {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
    .detailsGuideMod .info .returns {
        top: -70px;
        padding: 0px 20px;
    }
    .detailsGuideMod .info .returns .icon {
        margin-bottom: 6px;
        width: 50px;
        height: 50px;
    }
    .detailsGuideMod .info .returns .icon-svg {
        width: 30px;
        height: 30px;
    }
    .detailsGuideMod .info .returns span {
        font-size: 14px;
    }
    .detailsGuideMod .line {
        margin-bottom: 40px;
    }
}
@media (max-width: 767px) {
    .detailsGuideMod {
        margin-top: 50px;
    }
    .detailsGuideMod .info {
    }
    .detailsGuideMod .info .btn {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
    .detailsGuideMod .info .returns {
        top: -70px;
        padding: 0px 20px;
    }
    .detailsGuideMod .info .returns .icon {
        margin-bottom: 6px;
        width: 50px;
        height: 50px;
    }
    .detailsGuideMod .info .returns .icon-svg {
        width: 30px;
        height: 30px;
    }
    .detailsGuideMod .info .returns span {
        font-size: 14px;
    }
    .detailsGuideMod .line {
        margin-bottom: 40px;
    }
}

.newsDetailsHotBox {
    border: 1px #e6e6e6 solid;
    padding: 40px 0 20px;
}
.newsDetailsHotBox .tit {
    margin-left: -1px;
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 36px;
    line-height: 1;
    color: #228a3b;
    border-left: 4px #228a3b solid;
}
.newsDetailsHotBox .ndhlist {
    margin: 0 40px;
}
.newsDetailsHotBox .ndhlist .items {
    position: relative;
    padding: 28px 0 28px 20px;
    display: block;
    font-size: 18px;
    line-height: 1.4;
    border-top: 1px #e6e6e6 solid;
}
.newsDetailsHotBox .ndhlist .items a {
    display: block;
}
.newsDetailsHotBox .ndhlist .items:first-child {
    border-top: 0;
}
.newsDetailsHotBox .ndhlist .items:after {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1em;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #228a3b;
}

@media (max-width: 1799px) {
    .newsDetailsHotBox {
        padding: 38px 0 18px;
    }
    .newsDetailsHotBox .tit {
        margin-bottom: 8px;
        padding-left: 28px;
        font-size: 34px;
    }
    .newsDetailsHotBox .ndhlist {
        margin: 0 38px;
    }
    .newsDetailsHotBox .ndhlist .items {
        padding: 26px 0 26px 18px;
        font-size: 16px;
        line-height: 1.4;
    }
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
    .newsDetailsHotBox {
        padding: 36px 0 16px;
    }
    .newsDetailsHotBox .tit {
        margin-bottom: 6px;
        padding-left: 26px;
        font-size: 32px;
    }
    .newsDetailsHotBox .ndhlist {
        margin: 0 36px;
    }
    .newsDetailsHotBox .ndhlist .items {
        padding: 24px 0 24px 16px;
        font-size: 16px;
        line-height: 1.4;
    }
}
@media (max-width: 993px) {
    .newsDetailsHotBox {
        padding: 34px 0 14px;
    }
    .newsDetailsHotBox .tit {
        margin-bottom: 4px;
        padding-left: 24px;
        font-size: 30px;
    }
    .newsDetailsHotBox .ndhlist {
        margin: 0 34px;
    }
    .newsDetailsHotBox .ndhlist .items {
        padding: 22px 0 22px 14px;
        font-size: 16px;
        line-height: 1.4;
    }
    .newsDetailsHotBox .ndhlist .items:after {
        margin-top: -4px;
    }
}
@media (max-width: 767px) {
    .newsDetailsHotBox {
        padding: 24px 0 10px;
    }
    .newsDetailsHotBox .tit {
        margin-bottom: 4px;
        padding-left: 10px;
        font-size: 22px;
    }
    .newsDetailsHotBox .ndhlist {
        margin: 0 15px;
    }
    .newsDetailsHotBox .ndhlist .items {
        padding: 14px 0 14px 14px;
        font-size: 14px;
        line-height: 1.4;
    }
    .newsDetailsHotBox .ndhlist .items:after {
        top: 50%;
        margin-top: -4px;
        width: 6px;
        height: 6px;
    }
}

.detailsRight .product-nav {
    position: relative;
    transform: translateY(0);
    transition: 0.3s;
}
.detailsRight .product-nav.fex {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transition: all 1s ease 0s;
    transform: translateY(100px);
}

.searchBannerWrap {
    position: relative;
    height: 600px;
    background: url(../images/data_bank_bg.jpg) no-repeat top center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBannerWrap .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 1;
}
.searchDataBankBox {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchDataBankBox .tit {
    margin-bottom: 30px;
    font-size: 48px;
    color: #fff;
    text-align: center;
}
.searchDataBankBox .con {
    margin-bottom: 20px;
    width: 960px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
}
.searchDataBankBox .con input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 0 20px;
}
.searchDataBankBox .con .btn {
    margin-right: 2px;
    width: 120px;
    height: 56px;
    font-size: 16px;
    background: #228a3b;
    color: #fff;
    cursor: pointer;
}
.hotSearchCon {
    display: flex;
    width: 90%;
    justify-content: center;
}
.hotSearchCon .txt {
    display: block;
    color: #fff;
    white-space: pre;
}
.hotSearchCon .hslist {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.hotSearchCon .hslist .item {
    color: #fff;
    display: block;
    margin-right: 32px;
}
.hotSearchCon .txt,
.hotSearchCon .hslist .item {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
}

@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
    .searchBannerWrap {
        height: 50vh;
    }
    .searchDataBankBox .tit {
        margin-bottom: 26px;
        font-size: 44px;
    }
    .searchDataBankBox .con {
        margin-bottom: 16px;
        width: 80%;
        height: 56px;
    }
    .searchDataBankBox .con input {
        font-size: 16px;
        padding: 0 20px;
    }
    .searchDataBankBox .con .btn {
        margin-right: 3px;
        width: 120px;
        height: 50px;
        font-size: 16px;
    }
    .hotSearchCon .hslist {
        margin-bottom: 100px;
    }
    .hotSearchCon .hslist .item {
        margin-right: 15px;
    }
    .hotSearchCon .txt,
    .hotSearchCon .hslist .item {
        font-size: 12px;
        line-height: 1;
    }
}
@media (max-width: 767px) {
    .searchBannerWrap {
        height: 50vh;
    }
    .searchDataBankBox .tit {
        margin-bottom: 20px;
        font-size: 34px;
    }
    .searchDataBankBox .con {
        margin-bottom: 16px;
        width: 94%;
        height: 44px;
    }
    .searchDataBankBox .con input {
        font-size: 16px;
        padding: 0 20px;
    }
    .searchDataBankBox .con .btn {
        margin-right: 3px;
        width: 100px;
        height: 38px;
        font-size: 14px;
    }
    .hotSearchCon .hslist {
        margin-bottom: 100px;
    }
    .hotSearchCon .hslist .item {
        margin-right: 15px;
    }
    .hotSearchCon .txt,
    .hotSearchCon .hslist .item {
        font-size: 12px;
        line-height: 1;
    }
}

.cityListWrap {
    margin: 55px 0;
}
.cityListBox {
    margin: 0 -5px;
    display: flex;
    flex-wrap: wrap;
}
.cityListBox .item {
    margin: 5px;
    width: 118px;
    height: 34px;
    font-size: 14px;
    background: #fff;
    border: 1px #ccc solid;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
.cityListBox .item.on {
    background: #228a3b;
    border: 1px #228a3b solid;
    color: #fff;
}
.cityListBox .item:hover {
    background: #468855;
    border: 1px #468855 solid;
    color: #fff;
}
@media (max-width: 1799px) {
    .cityListWrap {
        margin: 50px 0;
    }
    .cityListBox {
        margin: 0 -5px;
    }
    .cityListBox .item {
        margin: 5px;
        width: 121px;
        height: 34px;
        font-size: 14px;
    }
}
@media (max-width: 1379px) {
    .cityListWrap {
        margin: 46px 0;
    }
    .cityListBox {
        margin: 0 -5px;
    }
    .cityListBox .item {
        margin: 5px;
        width: 121px;
        height: 34px;
        font-size: 14px;
    }
}
@media (max-width: 1299px) {
    .cityListWrap {
        margin: 44px 0;
    }
    .cityListBox {
        margin: 0 -5px;
    }
    .cityListBox .item {
        margin: 5px;
        width: 121px;
        height: 34px;
        font-size: 14px;
    }
}
@media (max-width: 1199px) {
    .cityListWrap {
        margin: 40px 0;
    }
    .cityListBox {
        margin: 0 -5px;
    }
    .cityListBox .item {
        margin: 5px;
        width: 130px;
        height: 34px;
        font-size: 14px;
    }
}
@media (max-width: 993px) {
    .cityListWrap {
        margin: 35px 0;
    }
    .cityListBox {
        margin: 0 -3px;
    }
    .cityListBox .item {
        margin: 3px;
        width: 120px;
        height: 34px;
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .cityListWrap {
        margin: 30px 0;
    }
    .cityListBox {
        margin: 0 10px;
        justify-content: center;
        align-items: center;
    }
    .cityListBox .item {
        margin: 5px;
        width: 121px;
        height: 34px;
        font-size: 14px;
    }
}
