@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
}

.crumbsWrap {
    height: 74px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.crumbsWrap .txt {
    font-size: 14px;
}
.crumbsWrap .in {
    font-size: 14px;
}

.crumbsWrap .icon-svg {
    position: relative;
    top: 1px;
    width: 16px;
    height: 16px;
    fill: #333;
    margin: 0 16px;
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
    .crumbsWrap {
        margin: 0 10px;
        height: 64px;
    }
}
.pagingModule {
    margin: 40px 0px 140px;
    display: flex;
    justify-content: center;
}
.paginglist {
    display: flex;
}
.paginglist .item {
    margin: 0px 5px;
    width: 38px;
    height: 38px;
    border: 1px solid rgb(217, 217, 217);
    font-size: 12px;
    color: rgb(102, 102, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease 0s;
}
.paginglist .item.on {
    border-color: #228a3b;
    color: rgb(255, 255, 255);
    background: #228a3b;
}
.paginglist .item:hover {
    border-color: #3f804e;
    color: rgb(255, 255, 255);
    background: #3f804e;
}
.paginglist .item.txt {
    width: 58px;
}
.paginglist .item .icon-svg {
    width: 16px;
    height: 16px;
    fill: #333;
}
.paginglist .item:hover .icon-svg {
    fill: #fff;
}
.paginglist .item + .item .icon-svg {
    transform: rotate(0deg);
}
.paginglist .item + .item ~ .item .icon-svg {
    transform: rotate(180deg);
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
    .pagingModule {
        margin: 20px 0px 40px;
    }
    .paginglist .item {
        margin: 0px 3px;
        width: 20px;
        height: 20px;
    }
    .paginglist .item.txt {
        width: 30px;
    }
    .paginglist .item .icon-svg {
        width: 14px;
        height: 14px;
    }
}

.newsListBox {
    overflow: hidden;
    margin: 0 10px;
}
.newsListBox .item {
    padding: 40px 0;
    border-bottom: 1px #e6e6e6 solid;
    display: flex;
    transition: 0.3s;
}
.newsListBox .item:hover {
    border-color: #228a3b;
}
.newsListBox .item .img {
    width: 480px;
    height: 270px;
    overflow: hidden;
}
.newsListBox .item .img img {
    transition: 0.5s;
}
.newsListBox .item:hover .img img {
    transform: scale(1.12);
}
.newsListBox .item .info {
    margin-left: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newsListBox .item .info .tit {
    font-size: 24px;
    line-height: 1.4;
    font-weight: normal;
}
.newsListBox .item .info .txt {
    font-size: 16px;
    height: 96px;
    line-height: 2;
    color: #808080;
    margin: 20px 0;
    overflow: hidden;
}
.newsListBox .item .info .time {
    display: flex;
    align-items: center;
}
.newsListBox .item .info .time .icon-svg {
    width: 20px;
    height: 20px;
    fill: #228a3b;
}
.newsListBox .item .info .time span {
    margin-left: 8px;
    font-size: 14px;
    color: #808080;
}

@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
    .newsListBox .item {
        padding: 35px 0;
    }
}
@media (max-width: 993px) {
    .newsListBox .item {
        padding: 30px 0;
    }
    .newsListBox .item .img {
        width: 342px;
        height: 192px;
    }
    .newsListBox .item .info {
        margin-left: 25px;
    }
    .newsListBox .item .info .tit {
        font-size: 22px;
        line-height: 1.4;
    }
    .newsListBox .item .info .txt {
        font-size: 14px;
        height: 90px;
        line-height: 1.6;
        margin: 7px 0;
    }
    .newsListBox .item .info .time .icon-svg {
        width: 20px;
        height: 20px;
    }
    .newsListBox .item .info .time span {
        margin-left: 8px;
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .newsListBox .item {
        padding: 25px 0;
        flex-direction: column;
    }
    .newsListBox .item .img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .newsListBox .item .info {
        margin-left: 0;
    }
    .newsListBox .item .info .tit {
        font-size: 18px;
        line-height: 1.4;
    }
    .newsListBox .item .info .txt {
        font-size: 14px;
        height: auto;
        line-height: 1.6;
        margin: 7px 0;
    }
    .newsListBox .item .info .time .icon-svg {
        width: 20px;
        height: 20px;
    }
    .newsListBox .item .info .time span {
        margin-left: 8px;
        font-size: 14px;
    }
}
