@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
}
.footerWrapper {
    padding-top: 15px;
    background-color: #161615;
    position: relative;
    z-index: 200;
}
.footerWrapper a,
.srk_footer_contant .item span,
.srkFooterSecondary .copyright span {
    color: #fff;
}
.srkFooterMod {
    margin-top: 20px;
}
.srkFooterCatalogue {
    display: flex;
}
.srkFooterCatalogue .boxes:first-child {
    width: 34%;
}
.srkFooterCatalogue .boxes {
    width: 22%;

    font-size: 14px;
    vertical-align: top;
    margin-bottom: 20px;
}
.srkFooterCatalogue .boxes .title {
    margin-bottom: 30px;
}
.srkFooterCatalogue .boxes .title a {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}
.srk_footer_contant {
    margin-right: 30px;
}
.srk_footer_contant .item {
    display: flex;
}
.srk_footer_contant .item i {
    width: 10px;
    height: 10px;

    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;

    margin: 5px 10px 0 0;
}
.srk_footer_contant .item span {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 18px;
    margin-right: 5px;
}
.srk_footer_contant .item a {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 18px;
}
.srkFooterSecondary {
    width: 100%;
    padding: 20px 0;
    background-color: #101010;
}
.srkFooterSecondary > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.srkFooterSecondary .copyright {
    font-size: 13px;
}
.srkFooterSecondary .copyright span {
    text-align: left;
    line-height: 18px;
    padding: 14px 0 15px 0;
}
.srkFooterSecondary .copyright a {
    margin-left: 30px;
}

.socialCircleLink {
    display: flex;
}
.socialCircleLink a {
    color: #fff;
    margin-left: 5px;
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background-color: #ff8c00;
    text-align: center;
    border-radius: 4px;
}
.socialCircleLink a:hover {
    background-color: #000;
}
.socialCircleLink a i {
    font-size: 20px;
}
.srkFooterMore {
    display: none;
}

@media (max-width: 993px) {
    .srkFooterCatalogue {
        flex-direction: column;
    }
    .srkFooterCatalogue .boxes:first-child {
        width: 100%;
    }
    .srkFooterCatalogue .boxes {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .srkFooterMore {
        position: relative;
        padding: 10px 16px;
        background-color: #eee;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .srkFooterCatalogue {
        display: none;
    }
    .srkFooterMore.show ~ .srkFooterCatalogue {
        display: flex;
    }
    .srkFooterMore span {
        text-transform: uppercase;
        color: #222;
        font-size: 16px;
        line-height: 20px;
    }
    .srkFooterMore i {
        font-size: 24px;
        color: #222;
        display: block;
        transform: rotate(180deg);
        transition: all 0.5s ease;
    }
    .srkFooterMore.show i {
        transform: rotate(0);
    }
    .srkFooterSecondary > div {
        align-items: flex-start; /* align-content: flex-end; */
        flex-direction: column-reverse;
    }
    .srkFooterSecondary .copyright {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
    }
    .srkFooterSecondary .copyright a {
        margin: 0;
    }
}

.headerTopWrapper {
    padding: 15px 0;
    display: flex;
    align-items: center;
    background-color: #e8e8e8;
}
.srkHeaderTop {
    display: flex;
    justify-content: space-between;
}
.srkHeaderTop .boxes .infoBox {
    display: flex;
}
.srkHeaderTop .boxes .infoBox .item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.srkHeaderTop .boxes .infoBox .item i {
    font-size: 20px;
    margin-right: 10px;
}
.srkHeaderTop .boxes .infoBox .item a {
    font-size: 14px;
}
.srkHeaderTop .boxes .searchBox {
    display: flex;
}
.srkHeaderTop .boxes .searchBox input {
    padding: 2px 8px;
    line-height: 24px;
    height: 24px;
    background-color: #fff;
    border: 0;
    border-radius: 2px 0 0 2px;
    font-size: 14px;
}
.srkHeaderTop .boxes .searchBox .btn {
    color: #fff;
    cursor: pointer;
    height: 24px;
    width: 30px;
    border: none;
    background-color: #ff8c00;
    border-radius: 0 2px 2px 0;
}
@media (max-width: 767px) {
    .srkHeaderTop .boxes .infoBox,
    .srkHeaderTop {
        flex-direction: column;
        width: 100%;
    }
    .srkHeaderTop .boxes .infoBox .item {
        margin-bottom: 10px;
    }

    .srkHeaderTop .boxes .searchBox input {
        width: 100%;
    }
}

.headerNavWrapper {
    height: 70px;
    background: #fff;
    transition: ease all 0.4s;
    display: block;
    -webkit-transition: ease all 0.4s;
    -moz-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
}
.headerNavWrapper.pft {
    position: fixed;
    top: 0;
    width: 100%;
}
.srkHeaderNav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.srkLogo {
    display: block;
    width: 170px;
    margin-right: 15%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transform: translate3d(0, 0, 0);
}
.srkLogo img {
}
.srkMainNav {
    width: 100%;
    height: 100%;
    flex: 1;
}
.srkMainNav .srkMainMenuWrap {
    height: 100%;
}
.srkMainMenu {
    display: table;
    width: 100%;
    height: 100%;
}
.srkMainMenu li {
    position: relative;
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.srkMainMenu li > .one {
    width: 100%;
    font-size: 13px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.srkMainMenu li > a .iconfont {
    font-size: 12px;
    margin-left: 8px;
}
.srkMainMenu li > a.there-are-submenus {
    width: 100%;
}
.srkMainMenu li.on .srkASubmenus {
    display: block;
}
.srkASubmenus {
    position: absolute;
    top: 70px;
    padding: 7px 0;
    background: #fff;
    border-radius: 0 0 4px 4px !important;
    box-shadow: 0 5px 12px rgb(0 0 0 / 20%);
    display: none;

    animation: 0.3s linear 0s 1 normal none running tsItem;
}
@keyframes tsItem {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.srkASubmenus li {
    display: block;
}
.srkASubmenus li a {
    display: block;
    border: 0 !important;
    padding: 9px 23px;
    background: transparent;
    color: #666;
    border-radius: 0 !important;
    white-space: nowrap;
    font-size: 14px;
    text-align: left;
}
.srkASubmenus li a:hover,
.srkMainMenu li.current a {
    color: #ff8c00;
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
    .srkLogo {
        display: block;
        width: 170px;
        margin-right: 5%;
    }
}
@media (max-width: 993px) {
    .srkLogo {
        width: 140px;
        margin-right: 2%;
    }
    .srkMainMenu li > .one {
        font-size: 12px;
    }
    .srkMainMenu li {
        padding: 0 5px;
    }
    .srkMainMenu li > a .iconfont {
        margin-left: 2px;
    }
}
@media (max-width: 767px) {
    .srkMainMenu li > a.there-are-submenus,
    .srkMainMenu li.current a,
    .srkMainMenu li a.one {
        color: #fff;
        font-weight: normal;
        justify-content: space-between;
    }

    .srkMainMenu li a {
        line-height: 23px;
        padding: 10px;
    }
    .headerNavWrapper.pft .srkLogo {
        width: 100px;
        margin-right: 0;
    }
    .headerNavWrapper {
        height: auto;
        padding: 10px 0;
    }
    .srkHeaderNav {
        flex-direction: column;
    }
    .srkMainNav {
        margin: 10px 0;
        padding: 0 10px;
        display: block;
        background: #ff8c00;
    }
    .srkMainMenu {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-top: 1px #fff solid;
        max-height: 400px;
        background: transparent;
        overflow: auto;
    }
    .srkMainMenu li {
        padding: 5px 0;
        width: 100%;
    }
    .srkMainMenu li > .one {
        width: 100%;
        font-size: 13px;
        padding: 0;
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-weight: normal;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .srkMainMenu li > a .iconfont {
        width: 34px;
        height: 34px;
        text-align: center;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .srkMainMenu li > a .iconfont:before {
        content: "\e61c";
        font-size: 24px;
    }

    .srkASubmenus {
        position: initial;
        top: 0;
        padding: 0;
        margin: 5px 0;
        background: #fff;
        border-radius: 0 0 4px 4px !important;
        box-shadow: none;
        display: none;
    }
    .srkASubmenus li:first-child {
        border: 0;
    }
    .srkASubmenus li {
        display: block;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
    .srkASubmenus li a {
        padding: 10px;

        background: transparent;
        color: #2b82ac;
        font-size: 13px;
        text-shadow: none;
    }
}

/* 改CSS名字 */
.srkMainMenuBtns {
    float: right;
    margin: 10px;
    position: relative;
    display: inline-block;
    width: 29px;
    height: 29px;
    text-indent: 29px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.srkMainMenuBtnIcon,
.srkMainMenuBtnIcon:before,
.srkMainMenuBtnIcon:after {
    position: absolute;
    top: 50%;
    left: 2px;
    height: 2px;
    width: 24px;
    background: #fff;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.srkMainMenuBtnIcon:before {
    content: "";
    top: -7px;
    left: 0;
}
.srkMainMenuBtnIcon:after {
    content: "";
    top: 7px;
    left: 0;
}
#srkMainMenuState:checked ~ .srkMainMenuBtns .srkMainMenuBtnIcon {
    height: 0;
    background: transparent;
}
#srkMainMenuState:checked ~ .srkMainMenuBtns .srkMainMenuBtnIcon:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#srkMainMenuState:checked ~ .srkMainMenuBtns .srkMainMenuBtnIcon:after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#srkMainMenuState {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
#srkMainMenuState:not(:checked) ~ #srkMainMenuJs {
    display: none;
}
#srkMainMenuState:checked ~ #srkMainMenuJs {
    display: flex;
}
@media (min-width: 767px) {
    #srkMainMenuState,
    .srkMainMenuBtns {
        display: none;
    }
    #srkMainMenuState:not(:checked) ~ #srkMainMenuJs {
        display: table;
    }
}
